<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Delete Teacher</title>
    <meta name="description" content="Webpage for xxxx">
    
    <link rel="stylesheet" href="css/reset/reset.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>
  <body style="background-color:gainsboro;"> 
    <nav class="navbar navbar-expand-lg navbar-light bg-light-mg-3">
      <div class="container-fluid">
        
          <form class="d-flex-mg-3">
            
            <a class="btn btn-primary btn-block" href="{{url_for('hello')}}">Dashboard</a><br><br>
          </form>
        </div>
      </div>
    </nav>
    <form action="/delete" method="post">


        <div class="container">
          <div  class="row justify-content-center mt-5">
              <div  class="col-lg-4 col-mg-4">
                <div class="card bx">
                  <div class="card-body">
                    <div class="card-title">
                      <h4>Delete teacher</h4>
                      <div class="container">
                            <input type="text" name="name" placeholder="Teacher name to delete">
                            <input type="submit" value="Delete"/>
                       
                       
                      
                      <form >
                        <script type="text/javascript">window.setTimeout("document.getElementById('successMessage').style.display='none';", 3000); </script>

                        <div id="successMessage"> <p><b>{{y}}</b></p>
                        </div>  
                        </div>
                  </div>
                </div>
              </div>
          </div>
        </div >
        </form>
  </body>
</html>